.uniqueProductsSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center / cover no-repeat;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  row-gap: 61px;
  margin: 129px 7.22% 75px auto;
  width: 1067.03125px;
  max-width: 85%;
}

.productDetailsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  width: 900.9895629882812px;
  max-width: 85%;
}

.productHighlight {
  display: flex;
  justify-content: center;
  width: 93.01%;
  font: 600 48px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.productDescription {
  display: flex;
  justify-content: center;
  width: 100%;
  font: 500 30px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.reviewsContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  margin: 0 0 0 auto;
  width: 300.98956298828125px;
  max-width: 85%;
}

.customerReviewColumn,
.newestReviewColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  width: 121px;
  min-width: 0;
}

.totalReviewsCount,
.recentReviewCount {
  display: flex;
  justify-content: center;
  width: 83.984375px;
  max-width: 85%;
  font: 800 40px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.recentReviewCount {
  width: 85.12%;
}

.totalReviewsLabel,
.recentReviewLabel {
  display: flex;
  justify-content: center;
  width: 100%;
  font: 32px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

/* Media Query: md */
@media (max-width: 1024px) {
  .productHighlight {
    align-items: flex-start;
    font-size: 44px;
  }

  .productDescription {
    align-items: flex-start;
    font-size: 28px;
  }

  .totalReviewsCount,
  .recentReviewCount {
    align-items: flex-start;
    font-size: 36px;
  }

  .totalReviewsLabel,
  .recentReviewLabel {
    align-items: flex-start;
    font-size: 30px;
  }
}

/* Media Query: xs */
@media (max-width: 768px) {
  .columnContainer {
    position: relative;
    margin: 80px 7.22% 75px auto;
  }

  .reviewsContainer {
    column-gap: 16px;
  }
}

/* Media Query: xxs */
@media (max-width: 480px) {
  .productHighlight {
    font-size: 36px;
  }

  .productDescription {
    font-size: 24px;
  }

  .totalReviewsCount,
  .recentReviewCount {
    font-size: 32px;
  }

  .totalReviewsLabel,
  .recentReviewLabel {
    font-size: 26px;
  }
}

/* Media Query: tn */
@media (max-width: 360px) {
  .columnContainer {
    row-gap: 50px;
    margin: 50px 7.22% 50px auto;
  }

  .reviewsContainer {
    column-gap: 8px;
  }
}

/* Container Tabs */
.tabs.tab-round .tab {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  flex-wrap: wrap;
  width: 87.36%;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 1024px) {
  .tabs.tab-round .tab {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

/* Tab Link Styles */
.tabs.tab-round .tab a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #190F05;
  text-decoration: none;
}


/* Active Link State */
.tabs.tab-round .tab a.active {
  text-decoration-line: underline;
  text-underline-offset: 6px;
}
.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  color: #190F05;
}

.main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #d2d1cf 31.17%, #ebebea 63.61%);
  overflow: hidden;
}

.main .heroSection {
  display: flex;
  flex-direction: column;
  background: var(--src) center center / cover no-repeat;
}

.main .contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 319px auto 252px;
  width: 822px;
  max-width: 85%;
}

@media (max-width: 768px) {
  .main .contentWrapper {
    margin: 150px auto;
  }
}

@media (max-width: 600px) {
  .main .contentWrapper {
    margin: 80px auto;
  }
}

@media (max-width: 320px) {
  .main .contentWrapper {
    margin: 50px auto;
  }
}

.main .productTitle {
  font: 700 48px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(35, 21, 7);
}

@media (max-width: 768px) {
  .main .productTitle {
    align-items: flex-start;
    font-size: 44px;
  }
}

@media (max-width: 480px) {
  .main .productTitle {
    font-size: 36px;
  }
}

.main .productSubtitle {
  display: flex;
  justify-content: center;
  font: 600 32px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(60, 36, 11);
  text-align: center;
}

@media (max-width: 768px) {
  .main .productSubtitle {
    align-items: flex-start;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .main .productSubtitle {
    font-size: 26px;
  }
}

.main .productDisplaySection {
  display: flex;
  flex-direction: column;
}

.main .productContainer {
  display: flex;
  flex-direction: column;
  gap: 269px 0;
  margin: 30px auto 300px;
  width: 85.14%;
  max-width: 1226.015625px;
}

@media (max-width: 768px) {
  .main .productContainer {
    gap: 150px 0;
    margin: 150px auto;
  }
}

.productSection {
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    margin: 109px auto 598px;
    width: 1218.958251953125px;
    max-width: 85%;
}

@media (max-width: 768px) {
    .contentWrapper {
        position: relative;
        margin: 109px auto 150px;
    }
}

@media (max-width: 576px) {
    .contentWrapper {
        margin: 80px auto;
    }
}

@media (max-width: 320px) {
    .contentWrapper {
        row-gap: 50px;
        margin: 50px auto;
    }
}

.headerWrapper {
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-top: 30px;
}

@media (max-width: 992px) {
    .headerWrapper {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.productHeading {
    width: 377px;
    font: 600 40px/1.5 Poppins, Helvetica, Arial, serif;
    color: rgb(35, 21, 7);
}

@media (max-width: 992px) {
    .productHeading {
        position: relative;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .productHeading {
        align-items: flex-start;
        font-size: 36px;
    }
}

@media (max-width: 400px) {
    .productHeading {
        font-size: 32px;
    }
}

.searchBlock {
    display: flex;
    flex-direction: column;
    width: 517px;
    min-width: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

@media (max-width: 992px) {
    .searchBlock {
        position: relative;
        width: 100%;
        min-width: unset;
    }
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin: 14px 36px 16px;
}

@media (max-width: 992px) {
    .searchContainer {
        position: relative;
        margin: 14px auto 16px;
    }
}

@media (max-width: 576px) {
    .searchContainer {
        column-gap: 16px;
    }
}

@media (max-width: 320px) {
    .searchContainer {
        column-gap: 8px;
    }
}

.searchLabel {
    width: 122px;
    font: 500 20px/1.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.6px;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .searchLabel {
        align-items: flex-start;
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .searchLabel {
        font-size: 16px;
    }
}

.searchIcon {
    width: 30px;
    object-fit: cover;
}

.categoryIcon {
    width: 60px;
    object-fit: cover;
}

@media (max-width: 992px) {
    .categoryIcon {
        position: relative;
        width: 100%;
        max-width: 60px;
    }
}

@media (max-width: 600px) {
  .main .productContainer {
    gap: 80px 0;
    margin: 80px auto;
  }
}

@media (max-width: 320px) {
  .main .productContainer {
    gap: 50px 0;
    margin: 50px auto;
  }
}

.main .bannerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 26px 0 0;
  background-image: linear-gradient(90deg,
      #4f4136 -3.05%,
      #4f4136 11.93%,
      #635143 28.35%,
      #b5957c 103.41%);
}

@media (max-width: 600px) {
  .main .bannerWrapper {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 320px) {
  .main .bannerWrapper {
    margin: 0 8px 0 0;
  }
}

.main .bannerImg {
  position: absolute;
  top: -125px;
  right: 0;
  width: 477px;
}

.main .bannerTitle {
  position: relative;
  margin: 82px 0 83px 34px;
  width: 829px;
  max-width: 85%;
  font: 600 40px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(254, 254, 252);
}

@media (max-width: 768px) {
  .main .bannerTitle {
    align-items: flex-start;
    margin: 82px 0 83px 32px;
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .main .bannerTitle {
    margin: 80px auto;
  }
}

@media (max-width: 480px) {
  .main .bannerTitle {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  .main .bannerTitle {
    margin: 50px auto;
  }
}

.productGrid {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 26px;
}

@media (max-width: 600px) {
  .productGrid {
    margin: 0 0 0 16px;
  }
}

@media (max-width: 320px) {
  .productGrid {
    margin: 0 0 0 8px;
  }
}

.productList {
  display: grid;
  align-content: start;
  flex-wrap: wrap;
  gap: 22px 30px;
  margin: 54px auto 98px;
  width: 92.5%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .productList {
    column-gap: 16px;
    margin: 54px auto 80px;
  }
}

@media (max-width: 320px) {
  .productList {
    column-gap: 8px;
    margin: 50px auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.productCard,
.item {
  display: flex;
  flex-direction: column;
  grid-row: span 1;
  grid-column: span 1;
  background-color: rgb(238, 235, 231);
  border-radius: 10px;
  outline: 4px solid rgb(25, 15, 5);
  outline-offset: -4px;
  opacity: rgb(25, 15, 5);

}

.overlay {
  display: none;
  border-radius: 15px;

  background-color: #3C240B;
  /* Warna overlay */
  opacity: 0.5;
  /* Transparansi (0.0 - 1.0) */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #4a2c17;
  color: white;
  border-radius: 5px;
  display: none;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid #EEEBE7;
  background: #3C240B;
  z-index: 3;
  cursor: pointer;
}

.item:hover .buyButton {
  display: block;
}

.item:hover .overlay {
  display: block;
}


.cardContent,
.flex_col,
.flex_col2,
.flex_col3 {
  display: flex;
  flex-direction: column;
  margin: 25px 22px 24px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {

  .cardContent,
  .flex_col,
  .flex_col2,
  .flex_col3 {
    margin: 25px 16px 24px;
  }
}

@media (max-width: 320px) {

  .cardContent,
  .flex_col,
  .flex_col2,
  .flex_col3 {
    margin: 25px 8px 24px;
  }
}

.flex_col2 {
  margin: 25px 22px;
}

.flex_col3 {
  margin: 24px 22px 25px;
}

.productDetails,
.flex_col1 {
  display: flex;
  flex-direction: column;
}

.productImg,
.image6 {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.productName,
.info8 {
  margin: 1px 0 0;
  font: 500 24px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(35, 21, 7);
}

@media (max-width: 768px) {

  .productName,
  .info8 {
    align-items: flex-start;
    font-size: 22px;
  }
}

@media (max-width: 480px) {

  .productName,
  .info8 {
    font-size: 20px;
  }
}

.ratingWrapper,
.flex_row {
  display: flex;
  gap: 0 3px;
}

.starIcon,
.image7 {
  width: 17px;
  object-fit: cover;
}

.priceTag,
.info9 {
  display: flex;
  justify-content: flex-end;
  font: 600 26px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(35, 21, 7);
  text-align: right;
}

@media (max-width: 768px) {

  .priceTag,
  .info9 {
    align-items: flex-start;
    font-size: 24px;
  }
}

@media (max-width: 480px) {

  .priceTag,
  .info9 {
    font-size: 22px;
  }
}

/* Consolidated Container Class */
.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 25px 22px 24px;
}

@media (max-width: 600px) {
  .cardContainer {
    margin: 25px 16px 24px;
  }
}

@media (max-width: 320px) {
  .cardContainer {
    margin: 25px 8px 24px;
  }
}

.affiliateMarketingSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(127, 100, 71);
}

.flex_row {
  display: flex;
  column-gap: 12px;
  margin: 106px auto;
  width: 85.35%;
}

.flex_col {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  margin: 0 0 6px;
  width: 818px;
}

.desc4 {
  font: 600 44px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}

.desc3 {
  margin: 24px 0 0 9px;
  width: 86.92%;
  font: 500 24px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  letter-spacing: 0.72px;
  opacity: 0.85;
}

.content_box1 {
  display: flex;
  flex-direction: column;
  margin: 82px 0 0;
  width: 84.6%;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
}

.flex_row1 {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  margin: 14px 24px 13px;
}

.info12 {
  margin: 4px 0;
  width: 184px;
  font: 500 24px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: 0.31999px;
  opacity: 0.69;
}

.btn1 {
  display: flex;
  justify-content: center;
  min-width: 157px;
  font: 500 24px/1.5 Poppins, Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(84, 51, 16);
  padding: 4px 8px;
  border-radius: 9px;
  letter-spacing: 0.72px;
}

.image1 {
  width: 399px;
  border-radius: 5px;
}
