.untitled-page.coffeeArticleSection {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    background-color: rgb(235, 235, 234);
    overflow: hidden;
  }
 .coffeeBanner {
    margin: 0 auto;
    width: 100%;
    max-height: max-content;
    object-fit: cover;
  }
 .mainTitle {
    display: flex;
    justify-content: center;
    margin: 0 0 0 2.99%;
    width: 895px;
    max-width: 85%;
    font: 700 96px/1.5 Poppins, Helvetica, Arial, serif;
    color: rgb(25, 15, 5);
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .untitled-page .mainTitle {
      align-items: flex-start;
      font-size: 52px;
    }
  }
  
  @media (max-width: 576px) {
    .untitled-page .mainTitle {
      font-size: 36px;
    }
  }
 .contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 0 auto 38px;
    width: 89.38%;
    max-width: 1287.0703125px;
  }
 .subTitle {
    width: 253.9973907470703px;
    max-width: 85%;
    font: 600 48px/1.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-decoration: underline;
    letter-spacing: 1.04px;
  }
  
  @media (max-width: 768px) {
    .untitled-page .subTitle {
      align-items: flex-start;
      font-size: 44px;
    }
  }
  
  @media (max-width: 576px) {
    .untitled-page .subTitle {
      font-size: 36px;
    }
  }
 .articleContainer {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0 0 0 13px;
    width: 98.99%;
  }
  
  @media (max-width: 1200px) {
    .untitled-page .articleContainer {
      flex-direction: column;
      align-items: center;
      gap: 30px 10px;
    }
  }
  
  @media (max-width: 480px) {
    .untitled-page .articleContainer {
      position: relative;
      margin: 0 0 0 8px;
    }
  }
 .mainContent {
    width: 730px;
    font: 500 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
  
  @media (max-width: 1200px) {
    .untitled-page .mainContent {
      position: relative;
      width: 100%;
    }
  }
 .sideContent {
    display: flex;
    flex-direction: column;
    row-gap: 369px;
    margin: 0 0 40px;
    width: 504px;
    min-width: 0;
  }
  
  @media (max-width: 1200px) {
    .untitled-page .sideContent {
      position: relative;
      margin: 0;
      width: 100%;
      min-width: unset;
    }
  }
  
  @media (max-width: 768px) {
    .untitled-page .sideContent {
      row-gap: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .untitled-page .sideContent {
      row-gap: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .untitled-page .sideContent {
      row-gap: 50px;
    }
  }
 .supplementaryText {
    font: 500 16px/2.5 Poppins, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
 .socialMediaGroup {
    display: flex;
    align-items: center;
    column-gap: 21px;
    margin: 0 0 0 auto;
    width: 140.9895782470703px;
    max-width: 85%;
  }
  
  @media (max-width: 576px) {
    .untitled-page .socialMediaGroup {
      column-gap: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .untitled-page .socialMediaGroup {
      column-gap: 8px;
    }
  }
 .socialIcon1 {
    width: 34px;
    object-fit: cover;
  }
 .socialIcon2 {
    width: 32px;
    object-fit: cover;
  }
 .socialIcon3 {
    width: 33px;
    object-fit: cover;
  }
  